.ammo {
    display: flex;
    flex-direction: column;
    justify-content: center;
     background-color: white;
     flex-shrink: 3;
}

.ball{
    opacity: 0;
    width: 3vh;
    height: 3vh;
    display: flex;
}