.control {
    background-color: rgb(200, 210, 219);
    padding: 4vh;
    
}

.control .currentMode {
    display: flex;
    justify-content: center;
}

.control .try-reset {
    display: flex;
    justify-content: space-around;
}