.tankContainer {
    display: flex;
    background-color: rgb(236, 14, 14);
    width: 100%;
}

.tankContainer .box {
    position: relative;
    width: 100%;
    height: auto;
}

.tankContainer .tank {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: auto;
}

