.tryAgain{
    position: relative;
}

.tryAgain .img {
    position: absolute;
    z-index: -15;
    width: 15vh;
    height: 12vh;
    transform: translate(-7vh, 7vh);
}

.tryAgain #box11 {
     display: none;
}
